#overlay {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

#footer {
    display: grid;
    grid-template-columns: auto auto auto auto;
}

.event-list {
    justify-self: center;
    display: grid;
    grid-template-columns: 50px auto;
    grid-template-rows: 10px 10px 50px;
    grid-template-areas:
        ".          third"
        ".          second"
        "event-logo first";
    width: 350px;
}
.event-list > img {
    grid-area: event-logo;
}

.event-list > div {
    justify-self: center;
    align-self: center;
    font-family: LaserCut;
}

.event-list > .first {
    grid-area: first;
    font-size: 30px;
}

.event-list > .second {
    grid-area: second;
    font-size: 10px;
}

.event-list > .third {
    grid-area: third;
    font-size: 10px;
}

.alert {
    position: fixed;
    right: 30px;
    top: 30px;
}