<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="fr" lang="fr">
<head>
	<link rel="stylesheet" href="overlay.css"/>
	<script src="https://unpkg.com/vue@next"></script>
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	<title>Overlay</title>
</head>
<body>
<div id="overlay">
	<alert :data="alert"></alert>
	<div id="footer">
		<event-list
				v-for="item in events"
				:key="item.type"
				:last_events="item.events"
				:type="item.type"
				:id="item.type.name">
		</event-list>
	</div>
</div>
</body>
</html>

<script type="application/javascript">
	const LAST_FOLLOW = {name: "last_follows", img: "img/follow.png"};
	const LAST_SUB = {name: "last_subs", img: "img/sub.png"};
	const LAST_CHEER = {name: "last_cheers", img: "img/cheer.png"};
	const LAST_VOTH = {name: "last_voths", img: "img/voth.png"};

	function emptyEventsFor(type) {
		return {
			type: type,
			events: []
		}
	}

	const Overlay = {
		data() {
			return {
				events: [
					emptyEventsFor(LAST_FOLLOW),
					emptyEventsFor(LAST_SUB),
					emptyEventsFor(LAST_CHEER),
					emptyEventsFor(LAST_VOTH)
				],
				alert: null
			}
		},
		methods: {
			load() {
				axios.get('http://localhost:8080/delphes99/overlay/infos')
						.then(response => {
							const data = response.data;
							this.events = [
								{
									type: LAST_FOLLOW,
									events: data.last_follows.map(follow => {
										return {user: follow}
									})
								},
								{
									type: LAST_SUB,
									events: data.last_subs.map(sub => {
										return {user: sub}
									})
								},
								{
									type: LAST_CHEER,
									events: data.last_cheers.map(({user, bits}) => {
										return {user: user, infos: bits}
									})
								},
								{
									type: LAST_VOTH,
									events: data.last_voths.map(({user, duration}) => {
										return {user: user, infos: duration}
									})
								}
							]
						})
						.catch(error => console.error(error));
			}
		},
		mounted: function () {
			this.load();
		}
	}

	let app = Vue.createApp(Overlay);
	app.component('event-list', {
		props: ['last_events', 'type'],
		template: `
			<div class="event-list">
			<img :src="type.img"/>
			<div class="first" v-if="last_events[0]">
				<div>{{ last_events[0].user }}</div>
				<div class="infos" v-if="last_events[0].infos">{{ last_events[0].infos }}</div>
			</div>
			<div class="second" v-if="last_events[1]">
				<div>{{ last_events[1].user }}</div>
				<div class="infos" v-if="last_events[1].infos">{{ last_events[1].infos }}</div>
			</div>
			<div class="third" v-if="last_events[2]">
				<div>{{ last_events[2].user }}</div>
				<div class="infos" v-if="last_events[2].infos">{{ last_events[2].infos }}</div>
			</div>
			</div>`
	});
	app.component('alert', {
		props: ['data'],
		computed: {
			parsedData: function () {
				return eventParser(this.data)
			},
			alertText: function () {
				const event = this.parsedData
				if (event) {
					return event.text
				}
			},
			img: function () {
				const event = this.parsedData
				if (event) {
					return event.img
				}
			},
			title: function () {
				const event = this.parsedData
				if (event) {
					return event.title
				}
			}
		},
		template: `
			<div class="alert" v-if="data">
			<img :src="img"/>
			<div class="alert-title">
				{{ title }}
			</div>
			<div class="alert-content">
				{{ alertText }}
			</div>
			</div>`
	})

	function eventParser(data) {
		if (data.type === "newVip") {
			return {
				title: `Nouveau VIP`,
				img: `img/voth.png`,
				text: `${data.parameters["newVip"]}`
			}
		} else if (data.type === "newFollow") {
			return {
				title: `Nouveau follow`,
				img: `img/follow.png`,
				text: `${data.parameters["newFollow"]}`
			}
		} else if (data.type === "newSub") {
			return {
				title: `Nouvel abonné`,
				img: `img/sub.png`,
				text: `${data.parameters["newSub"]}`
			}
		} else if (data.type === "newCheer") {
			return {
				title: `Nouveau dons`,
				img: `img/cheer.png`,
				text: `${data.parameters["cheerer"]}`
			}
		}
	}

	let vm = app.mount('#overlay')
	setInterval(() => {
		vm.load()
	}, 1000);

	let socket = new WebSocket("ws://localhost:8080");

	socket.onopen = function () {
		this.onmessage = function (event) {
			const data = JSON.parse(event.data)
			if(data.type === 'playSound') {
				const audio = new Audio('http://localhost:8080/media/'+data.parameters.mediaName);
				audio.play();
			} else {
				vm.alert = data
			}
			setTimeout(() => vm.alert = null, 5000)
		};
	};
</script>