<?xml version="1.0" encoding="UTF-8"?>

<configuration scan="true">
    <!-- Discord -->
    <logger name="net.dv8tion.jda" level="INFO"/>

    <!-- Ktor / Netty -->
    <logger name="io.netty" level="INFO"/>

    <logger name="fr.delphes.bot.Ngrok" level="INFO"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %highlight([%-5level]) %logger{25} - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="DEBUG">
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>